<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="CartRewrite" stopProcessing="true">
                    <match url="^cart$" />
                    <action type="Rewrite" url="cart.cfm" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>