<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="RedirectCart" stopProcessing="true">
                    <match url="^cart\.cfm$" />
                    <action type="Redirect" url="/cart" redirectType="Permanent" />
                </rule>
                <rule name="RedirectCartExtra" stopProcessing="true">
                    <match url="^cart.+$" />
                    <action type="Redirect" url="/cart" redirectType="Permanent" />
                </rule>
                 <rule name="adminRewrite" stopProcessing="true">
                    <match url="^admin$" />
                    <action type="Rewrite" url="/admin/index.cfm" />
                </rule>               
                <rule name="CartRewrite" stopProcessing="true">
                    <match url="^cart$" />
                    <action type="Rewrite" url="/cart.cfm" />
                </rule>
                <rule name="ProductPageRewrite" stopProcessing="true">
                    <match url="^product/([A-F0-9]{32})$" />
                    <action type="Rewrite" url="/productpage.cfm?pro={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>